#container{
	width: 600px;
	height: 600px;
	border: 5px solid #808080;
	margin: 0 auto;
	background-image: url(images/bg0.jpg);
}
button{
	width: 75px;
	height: 50px;
	background-color: #4caf50;
	color: white;
	border: 1px solid #9ccf9d;
	margin-top: 20px;
	margin-left: 15px;
}
img{
	position: relative;
	float: right;
	top: 440px;
}